<a
  class="lg:text-white lg:hover:text-blueGray-200 text-blueGray-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
  (click)="toggleDropdownLang($event)"
  href="#"
  #btnDropdownRefLang
>
  <img style="float: left;" width="24px" src="/assets/img/flags/{{selectedLang}}.svg" />&nbsp;{{ 'global.lang.'+selectedLang | translate }}
</a>
<div
  class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg min-w-48"
  [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
  #popoverDropdownRefLang
>
  <span
    class="text-sm pt-2 pb-0 px-4 font-bold block w-full whitespace-nowrap bg-transparent text-blueGray-400"
  >
    Selecciona un idioma
  </span>
  <div *ngFor="let lang of langs">
  <a 
    href="#"
    (click)="switchLang($event,lang)"
    *ngIf="lang !== selectedLang"
    class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700"
    >
    <img style="float: left;" width="24px" src="/assets/img/flags/{{lang}}.svg" />&nbsp;{{ 'global.lang.'+lang | translate | uppercase }}
  </a>
</div>
</div>

